@import url(reset.css);
@import url(variabiles.css);
@import url(common.css);
@import url(typo.css);
@import url(header.css);
@import url(main.css);
@import url(footer.css);


.img_box{
    width: 200px;
    height: 200px;
    background-color: red;
    border: 2px solid yellow;
}

footer{
    background-color: #3a546d;
}

.copyright{
    background-color: #2c3e50;
}